<!--
  ~ Copyright Magmodules.eu. All rights reserved.
  ~ See COPYING.txt for license details.
  -->

<!--@subject {{trans "Upcoming subscription renewal from %store_name" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var customer_name": "Customer name",
"var subscription_description": "Subscription description",
"var subscription_nextPaymentDate": "Next payment date",
"var subscription_amount": "Subscription amount",
} @-->

{{template config_path="design/email/header_template"}}

<p class="greeting">{{trans "Dear %name," name=$customer_name}}</p>

<p>{{trans "We are very excited to get your %product_name subscription ready for %nextPaymentDate!" product_name=$product.getName() nextPaymentDate=$subscription_nextPaymentDate amount_value=$subscription_amount store_name=$store.frontend_name}}</p>

<p>{{trans "This email is a reminder that a subscription fee of %amount_value will be charged on the same date." product_name=$product.getName() nextPaymentDate=$subscription_nextPaymentDate amount_value=$subscription_amount store_name=$store.frontend_name}}</p>

<p>{{trans "If you would like to pause or cancel your subscription or make any other changes, you can always do so by logging into your %store_name account." product_name=$product.getName() nextPaymentDate=$subscription_nextPaymentDate amount_value=$subscription_amount store_name=$store.frontend_name}}</p>

<p>{{trans "All our best,"}}</p>

<p>{{trans "%store_name" store_name=$store.frontend_name |raw}}</p>

{{template config_path="design/email/footer_template"}}
