includes:
	- phpstan-baseline.neon

parameters:
    reportUnmatchedIgnoredErrors: false
    level: 1
    ignoreErrors:
        - '#Undefined variable: \$block#'
        - '#Variable \$block might not be defined.#'
    fileExtensions:
        - php
        - phtml
    excludePaths:
        analyseAndScan:
            - Test/*
