<?xml version="1.0"?>
<!--
/**
 * Copyright © Magmodules.eu. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mollie_subscriptions>
            <general>
                <version>v1.10.2</version>
                <enable>0</enable>
                <debug>0</debug>
            </general>
            <prepayment_reminder>
                <enabled>0</enabled>
                <template>mollie_subscriptions_pre_payment_reminder_template</template>
                <days_before_reminder>3</days_before_reminder>
                <cron_expr>0 1 * * *</cron_expr>
            </prepayment_reminder>
            <emails>
                <disable_new_order_confirmation>0</disable_new_order_confirmation>
                <enable_admin_notification>0</enable_admin_notification>
                <admin_notification_template>Mollie_Subscriptions_emails_admin_notification_template</admin_notification_template>
                <enable_customer_notification>0</enable_customer_notification>
                <customer_notification_template>Mollie_Subscriptions_emails_customer_notification_template</customer_notification_template>
                <enable_admin_restart_notification>0</enable_admin_restart_notification>
                <admin_restart_notification_template>Mollie_Subscriptions_emails_admin_restart_notification_template</admin_restart_notification_template>
                <enable_customer_restart_notification>0</enable_customer_restart_notification>
                <customer_restart_notification_template>Mollie_Subscriptions_emails_customer_restart_notification_template</customer_restart_notification_template>
                <enable_admin_cancel_notification>0</enable_admin_cancel_notification>
                <admin_cancel_notification_template>Mollie_Subscriptions_emails_admin_cancel_notification_template</admin_cancel_notification_template>
                <enable_customer_cancel_notification>0</enable_customer_cancel_notification>
                <customer_cancel_notification_template>Mollie_Subscriptions_emails_customer_cancel_notification_template</customer_cancel_notification_template>
            </emails>
        </mollie_subscriptions>
    </default>
</config>
