<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright Magmodules.eu. All rights reserved.
  ~ See COPYING.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_save_after">
        <observer name="mollie_subscriptions_update_subscription_product_price" instance="Mollie\Subscriptions\Observer\CatalogProductSaveAfter\UpdateSubscriptionProduct" />
    </event>
    <event name="mollie_process_transaction_end">
        <observer name="mollie_create_subscription" instance="Mollie\Subscriptions\Observer\MollieProcessTransactionEnd\CreateSubscriptions" />
    </event>
    <event name="checkout_allow_guest">
        <observer name="mollie_subscriptions_force_customer_login" instance="Mollie\Subscriptions\Observer\CheckoutAllowGuest\ForceCustomerLoginWhenSubscriptionItemInCart" />
    </event>
    <event name="view_block_abstract_to_html_after">
        <observer name="mollie_change_add_to_cart_text" instance="Mollie\Subscriptions\Observer\ViewBlockAbstractToHtmlAfter\ChangeAddToCartText" />
    </event>
    <event name="checkout_cart_product_add_before">
        <observer name="mollie_subscription_check_add_to_cart" instance="Mollie\Subscriptions\Observer\CheckoutCartProductAddBefore\PreventAddingSubscriptionProductsToCartWhenNoSubscriptionIsSelected" />
        <observer name="mollie_subscription_prevent_duplicate_subscription" instance="Mollie\Subscriptions\Observer\CheckoutCartProductAddBefore\PreventDuplicateSubscriptions" />
    </event>
    <event name="customer_login">
        <observer name="mollie_subscription_prevent_duplicate_subscription_products_in_cart" instance="Mollie\Subscriptions\Observer\CustomerLogin\PreventDuplicateSubscriptionProductsInCart" />
    </event>
</config>
