@mollie-subscriptions-color__orange: #d85321;
@mollie-subscriptions-bg__blue: #007dbd;
@mollie-subscriptions-color__green-light: #79a12d;
@mollie-subscriptions-color-gray_light: #b4b4b4;
@mollie-subscriptions-color__red: #ce2525;
@mollie-subscriptions-color__green-dark: #2e701e;
@mollie-subscriptions-color__yellow: #d3b83a;
@mollie-subscriptions-border-color: #4f4943;
@mollie-subscriptions-color__dark-gray: #626262;
@mollie-subscriptions-bg__even: #edeff1;
@mollie-subscriptions-bg__odd: #f6f8fa;
@mollie-subscriptions-version-btn-border: #948f8b;
@mollie-subscriptions-version-btn-icon-bg: #96928e;
@mollie-subscriptions-color__1: #504944;
@mollie-subscriptions-color__2: #514943;
@mollie-subscriptions-color__3: #41362f;
@bordercolor: @mollie-subscriptions-color__orange;
