<?xml version="1.0"?>
<!--
/**
 * Copyright © Magmodules.eu. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="Mollie_Subscriptions" translate="label" type="text" sortOrder="50" showInDefault="1"
                 showInWebsite="1" showInStore="1">
            <label>Subscriptions</label>
            <tab>mollie</tab>
            <resource>Mollie_Subscriptions::config</resource>
            <include path="Mollie_Subscriptions::system/branding.xml"/>
            <include path="Mollie_Subscriptions::system/general.xml"/>
            <include path="Mollie_Subscriptions::system/emails.xml"/>
            <include path="Mollie_Subscriptions::system/prepayment_reminder.xml"/>
            <include path="Mollie_Subscriptions::system/debug.xml"/>
        </section>
    </system>
</config>
