name: setup:di:compile
on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        include:
        - PHP_VERSION: php73-fpm
          MAGENTO_VERSION: 2.3.7-p3
        - PHP_VERSION: php74-fpm
          MAGENTO_VERSION: 2.4.4
        - PHP_VERSION: php81-fpm
          MAGENTO_VERSION: 2.4.4
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      # Public repository
      - uses: actions/checkout@v2
        if: "!contains(github.repository, 'magmodules')"
        with:
          repository: mollie/magento2
          path: mollie-base
          ref: master

      # Internal repository
      - uses: actions/checkout@v2
        if: "contains(github.repository, 'magmodules')"
        with:
          repository: magmodules/mollie-magento2
          path: mollie-base
          ssh-key: ${{ secrets.MAGMODULES_MOLLIE_MAGENTO2_KEY }}

      - name: Start Docker
        run: docker run --detach --name magento-project-community-edition michielgerritsen/magento-project-community-edition:${{ matrix.PHP_VERSION }}-magento${{ matrix.MAGENTO_VERSION }}

      - name: Remove version from composer.json
        run: sed -i '/version/d' ./composer.json && sed -i '/version/d' ./mollie-base/composer.json

      - name: Upload the code into the docker container
        run: docker cp $(pwd)/mollie-base/ magento-project-community-edition:/data/extensions/mollie-magento2/ && rm -rf mollie-base/ && docker cp $(pwd)/. magento-project-community-edition:/data/extensions/mollie-magento2-subscriptions/

      - name: Install Mollie and Mollie Subscription extensions
        run: docker exec magento-project-community-edition composer require mollie/magento2:"dev-master as 2.99.99" mollie/magento2-subscriptions:@dev

      - name: Run setup:di:compile
        run: docker exec magento-project-community-edition ./retry "php bin/magento setup:di:compile"
